.hero{
    margin: 0px 100px;
    margin-top: 260px;
}
.herotext{
    color: rgb(208, 227, 219);
    font-size: 50px;
    font-weight: 500;
    line-height: 20px;
}

.heroexplore{
    display: flex;
    align-items: center;
    gap: 40px;
    width: fit-content;
    margin-top: 40px;
    padding: 4px 10px;

    padding-left: 30px;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
    font-size: 10px;

}
.heroexplore p{
    color: black;
    font-size: 15px;
    font-weight: 40px;

}

.hero-dot-play{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}
.hero-dots{
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
}
.hero-dot{
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
}


.heroexplore img {
    width: 38px;           /* shrink arrow image */
    height: auto;
}
.hero-play img {
    width: 38px;           /* shrink arrow image */
    height: auto;
}
