/* *{
    margin: 0;
    padding: 0;
} */
.navbar{
   
    position: fixed;           
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;                 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;         
    color: rgb(217, 217, 239);

    /* background-color: white;    */
      
}


.navlogo{
    font-family: outfit;
    font-size: 45px;
    font-weight: 500;
}
.navmenu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;
}
.con{
    padding: 10px 35px;
    background: white;
    color: black;
    border-radius: 50px;
}